
.navbar-shrink{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }

/*BLOQUE1*/
#bloque1 {

  background-image: url("../images/universo-e1551279332781.jpg");

  width: 100%;
  height: 100vh;
  background-size: cover;
}

#bloque1 .container, #bloque1 .container-fluid {
  padding-top: 84px;
}

#bloque1 h1 {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
}

#bloque1 h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 20px;
}

#bloque1 .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}

#bloque1 .btn-get-started:hover {
  background: #fff;
  color: #5846f9;
}

#bloque1 .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


/*fin*/
#bloque2 {

  background-image: url("../images/3d-starry-night-sky-background-with-abstract-planet-nebula.jpg");

        min-height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bloque3 {

  background-image: url("../images/cerca-cerezas-cafe-finca-cafe_173387-26.jpg");
  min-height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bloque5 {

  background:#9F86C0;
  min-height: 30rem;

}
#bloque6 {

  background:#000;
}
#bloque7 {
background: beige;
}
#bloque8 {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background: #3D36A5;
}
#bloque9 {
  min-height: 20rem;
background: #a375be;
}
#bloque7 .card{
  width: 800px;
  min-height: 30rem;
  background: transparent;
  border: none;
  padding: 24px 1px 7px 0px;
}
#bloque9 .icono{
      margin-right: 16px;
}

#bloque1 img{
/*  width: 500px;
height: 500px;
position: relative;
top: 167px;*/
}
#bloque1 .texto1 {
  position: relative;
  left: 58px;
  top: 264px;
  text-align: justify;
  color: #fff;

  font-size: 78px;
  text-shadow: 0 0 black;
}
.texto{
  position: relative;
    left: 0px!important;
    top: 0px!important;
    text-align: justify;
    /* width: 100%; */
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
   padding: 3rem;

}
#bloque3 .texto{
  position: relative;
  left: 0px!important;
  top: 62px!important;
  text-align: justify;
  /* width: 100%; */
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 3rem;
}

#bloque4 .texto {
    position: relative;
    left: 0px!important;
    top: 89px!important;
    text-align: justify;
    /* width: 100%; */
    color: #000;
    padding: 5rem;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 87%;
}
.thumbnail img{
  border-radius: 12px;
  }

#bloque4 .image{
  background: #3057A7;
  min-height: 30rem;
  background-size: cover;
}
#bloque5 .testimonio{
    padding-top: 52px;
}
#bloque9 .testimonio{
padding: 3rem;
}
.form-control{
      border-radius: 17px;
}
.contacto{
  padding: 62px;
margin-left: 26px;
}
.image-card{
  background-image: url(../images/coffee-bean-berry-ripening-on-coffee-farm.jpg);
  border: 1px solid;
  border-radius: 39px;
}

 .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
  padding: 55px 0 0 65px;

}
.contact-card{
  background: white;
border: 1px solid;
border-radius: 49px;
left: -65px;
position: relative;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
 .contact-form input,
.contact-form textarea {
  width: 265px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
  border-radius: 24px;
}

.contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}
/*responsive*/
@media (min-width: 1200px) {
  #bloque1 {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #bloque1 {
    text-align: center;
  }
  #bloque1 .container, #bloque1 .container-fluid {
    padding-top: 68px;
  }
  #bloque1 .animated {
    -webkit-animation: none;
    animation: none;
  }
  #bloque1 .bloque1-img {
    text-align: center;
  }
  #bloque1 .bloque1-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #bloque1 h1 {
    font-size: 26px;
    line-height: 36px;
    padding: 6px 22px 36px 43px;
    text-align: center;
  }
  #bloque1 h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #bloque1 .bloque1-img img {
    width: 60%;
  }
  #bloque7 .card {
    width: 100%;
}
#bloque8 .card1 {
  width: 70%;

}
.thumbnail img {
  width: 302px;
height: 218px;

}
.thumbnail{
  width: 100%;
}
.contact-card{
  left: 0px!important
}
}

@media (max-width: 575px) {
  #bloque1 .bloque1-img img {
    width: 80%;
  }
}

@media (max-width: 575px), (max-height: 600px) {
  #bloque1 {
    height: auto;
  }
}
